<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processed Results</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <nav class="navbar">
        <div class="nav-icons">
            <i class="fas fa-bell"></i>
            <i class="fas fa-cog"></i>
        </div>
    </nav>
    
    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <div class="logo">
                <button class="toggle-btn" onclick="toggleSidebar()">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <span class="text">Dashboard</span>
            </div>
        </div>

        <ul class="menu">
            <li><a href="{{ url_for('upload_form') }}"><i class="fas fa-home"></i><span>Home</span></a></li>
            <li><a href="upload"><i class="fa-solid fa-upload"></i><span>Upload Videos</span></a></li>
            <li class="active"><a href="processed"><i class="fa-solid fa-square-poll-vertical"></i><span>Processed Results</span></a></li>
            <li><a href="notifications-page"><i class="fas fa-bell"></i><span>Notifications</span></a></li>
        </ul>
    </div>

    <!-- Content -->
    <div class="content">
        <h1>Processed Videos</h1>
        <p>List of processed videos will be displayed here.</p>
    </div>
 
    <script src="../static/script.js"></script>
</body>
</html>
